i.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    font-size: 0;
    cursor: pointer;
    margin-right: 5px;
}
i.icon::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
}
.icon-update-pwd::after {
    background-image: url("../assets/icon-update-pwd.png");
}
.icon-logout::after{
    background-image: url("../assets/icon-logout.png");
}
