/*
  Styles added for common front-end ui, based on jieui v1.0.0

  Version: v1.0.0
*/

.j__color {
  &--primary {
    color: #4e84fe;
  }
  &--danger {
    color: #E8320D;
  }
}

.j__dialog {
  &-title {
    font-size: 16px;
    color: #030303;
    line-height: 30px;
    border-left: 3px solid #4e84fe;
    padding-left: 13px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &-summary {
    margin-bottom: 25px;
    padding-left: 120px;
  }
  &-btns {
    margin-top: 25px;
    text-align: right;

    &.align-center {
      text-align: center;
    }
  }
  &-common {
    position: relative;
    font-size: 14px;
    color: #616266;
    line-height: 20px;
    padding-left: 48px;
    min-height: 52px;

    &--icon {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 25px;

      &.icon-success {
        color: $green;
      }
      &.icon-error {
        color: $danger;
      }
      &.icon-warning {
        color: $yellow;
      }
      &.icon-info {
        color: inherit;
      }
    }
    &--title {
      color: inherit;
      font-weight: 500;
    }
    &--tip {
      color: #91939A;
    }
  }
}

.j__table {
  &-tr {
    background-color: #ecf2ff;

    th {
      background-color: inherit;
      padding: 0;
    }
  }
}
.j__table-container {
  .j__table {
    color: #262626;
    background-color:#edf2ff;

    th {
      background-color: inherit;
    }
  }
}

.j__tree {
  font-size: 14px;
  
  &.dialog__tree {
    border: 1px solid $inputBorder;
    border-radius: 4px;
    max-height: 400px;
    overflow: auto;
    min-height: 400px;
    padding-bottom: 5px;
  
    &:hover {
      border-color: $inputHoverBorder;
    }
  }

  &-node {
    width: 100%;

    &--selected {
      background: $uiSS;
      color: #ffffff;
    }
  }
}

.j__tabs {
  .el-tabs__item {
    min-width: 126px;
    text-align: center;
  }
}

.j__step {
  &-header {
    padding: 20px 10%;

    // v2
    &.j__tab-container {
      padding: 0;
      margin-bottom: 15px;
    }
  }
  &-body {
    min-width: 650px;
    min-height: 420px;
  }
  &-footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;

    .btn-primary {
      width: 118px;
      height: 40px;
    }
    .btn-cancel {
      width: 100px;
      height: 40px;
    }
    .el-button {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.j__dropdown-table {
  margin-left: 10px;
  cursor: pointer;
  color: $uiSS;
}
.j__dropdown-menu-table {
  min-width: 80px;
  padding: 10px;
  .el-button {
    display: block;
    margin: 0;
    min-width: 58px;
  }
}

/* 列表数据为空 */
.j__list {
  font-size: 14px;
  &.list-no-data {
    color: #616266;
  }
}

/* common */
.j-common__header-cell--header {
  // background: #ecf2ff !important;

  .cell {
    line-height: 20px;
  }
}
.j-common__table-cell--body {
  .cell {
    line-height: 20px;
  }
}

/* input、button */
.j {
  &__input--search {
    /* ui standard */
    .el-input__inner {
      height: 40px;
      line-height: 40px;
    }
  }
  &__button--search {
    padding: 12px 20px;
    font-size: 14px;
  }
}

.j__date-time-picker {
  min-width: 200px;
}
@media screen and (max-width: 1440px) {
  .j__date-time-picker {
    min-width: unset;
    font-size: 12px;
  }
}
