/* ori 滚动条样式，element-ui.scss el-table同 */
.js-tpl-scroll {
    overflow: auto;
}
.js-tpl-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.js-tpl-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1) inset;
}

.js-tpl-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1) inset;
}

.js-tpl-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0) inset;
}

/* el-table 滚动条样式优化 */
.js-tpl-scroll {
    .el-table__body-wrapper {
        overflow: auto;
    }
    .el-table__body-wrapper::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .el-table__body-wrapper:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 10px;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, .1) inset;
    }

    .el-table__body-wrapper::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 10px;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, .1) inset;
    }

    .el-table__body-wrapper::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0) inset;
    }
}
